<DOCTYPE html>
    <html>
        <head>
            <title>
                Memory Game
            </title>
            <link rel="stylesheet" type="text/css" href="css/leaderboardStyle.css">
            <script src="js/game.js"></script>
        </head>
        <body>
            <table id="Leaderboard">
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>{{p_name}}</td>
                    <td>{{p_score}}</td>
                </tr>
                <tr>
                    <td>{{p_name}}</td>
                    <td>{{p_score}}</td>
                </tr>
                <tr>
                    <td>{{p_name}}</td>
                    <td>{{p_score}}</td>
                </tr>
            </table>
        </body>
    </html>